@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  list-style-type: none;
  text-decoration: none;

}


.carousel-images {
  position: relative;
  border-radius: 10px;
  height: 400px;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
.carousel-images img {
  width: 99%;
  height: 99%;
  border-radius: 8px;

}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  background-color: #d8d8d881;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 40px;
  width: 40px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.active {
  background-color: #fa2020;
}